<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="tv.Crystal.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <!--<add name="Crystal" connectionString="Data Source=SILENTKILLER\SQL2014;Initial Catalog=Crystal;Integrated Security=SSPI;"/>-->
    <add name="Crystal" connectionString="Data Source=INNCREWIN44-PC\SQLEXPRESS;Initial Catalog=Crystal;User ID = sa;Password=sa123;"/>
  </connectionStrings>
  <userSettings>
    <tv.Crystal.UI.Properties.Settings>
      <setting name="LastLoginUser" serializeAs="String">
        <value/>
      </setting>
    </tv.Crystal.UI.Properties.Settings>
  </userSettings>
</configuration>
